<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=mmpractice1;AccountKey=ImLCJKvB/XavjIIRIAvf48bDjcYqggUSxFx4AwWrLgKw2DNmxuZwLEcu6ONX3Fdb/BEoBZvydRlBkMwgYgaz4Q==;EndpointSuffix=core.windows.net"></add>
    </appSettings>
</configuration>
